@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
    @apply border-grs border-2 text-grs w-48 py-2 mt-5 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-100 justify-center animate-pulse;
}

.box {
    @apply bg-white rounded border-2 border-gr  px-2 py-1 mt-5 w-96 mx-24;
}

.submit {
    @apply cursor-pointer px-8 py-2 text-white bg-pkd rounded-lg transition duration-300 ease-in-out hover:bg-pkd hover:bg-opacity-75 focus:outline-none focus:ring-2 ring-offset-current ring-offset-2;
}

.label {
    @apply block mb-2 text-lg font-medium text-gray-700 flex justify-start;

}
